html {
    font-size: 16px;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
}
// font styles
.title-huge {
    font-size: 6rem;
}

.title-massive-1 {
    font-size: 4.375rem;
}

.title-massive-2 {
    font-size: 3.75rem;
}

.title-big {
    font-size: 2.8rem;
}

.light {
    font-weight: lighter;
}

// spacing
.no-bottom {
    margin-bottom: 0;
}

.no-top {
    margin-top: 0;
}

.padding-bottom-1 {
    padding-bottom: 20px;
}

.margin-bottom-1 {
    margin-bottom: 10px;
}

//background
#main {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url('/src/img/field-bg.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    float: left;

    &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        content: '';
        background-color: rgba(110, 45, 86, .7);
        transition: background-color .6s cubic-bezier(.25, .46, .45, .94);
        z-index: 1;
    }
}
