#main-header {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

#logo-container {
    height: 215px;
    margin: auto;
    width: 320px;
}

#logo-goat {
    margin: auto;
    position: absolute;
    width: 300px;
}

#logo-pants {
    animation: pants 1.5s infinite ease-in-out alternate;
    margin: auto;
    position: absolute;
    width: 300px;
}

#stand-by {
    font-size: 50px;
    font-weight: 100;
    line-height: 35px;
    margin: 20px auto;
    text-align: center;
}

@keyframes pants {
    0% {
        opacity: .0;
    }

    100% {
        opacity: .6;
    }
}

#title-hp {
    display: inline-block;
    margin-right: 0;
    width: 45%;
}

#title-fc {
    bottom: 20px;
    color: #B300B3;
    display: inline-block;
    left: 40px;
    position: relative;
}
