*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0.00;
}

img {
    height: auto;
    max-width: 100%;
    width: auto;
}
