<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="src/styles/main.css" rel="stylesheet">
</head>
<body>
<div class="grid">
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
</div>
</body>
</html>