<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grid usage example</title>
    <link href="dist/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="dist/main.css" rel="stylesheet">
</head>
<body>
<div class="grid">
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
    <div class="col-lg-1 col-md-6 col-sm-12" style="border: 3px blue solid"></div>
</div>
</body>
</html>
