<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="dist/main.css" rel="stylesheet">
</head>
<body>
    <header id="main-header">
        <div id="logo-container">
            <div style="position: absolute; z-index: 200; margin: 30px 40px;">
                   <span id="title-hp">
                      <h2 class="title-massive-1 no-bottom">HOT</h2>
                      <h3 class="title-big no-top">PANTS</h3>
                   </span>
                <span id="title-fc"><h1 class="title-huge style="margin:20% 15px 0;">FC</h1></span>
            </div>
            <img id="logo-goat" src="src/img/logo-goat.png" alt="Hot Pants FC logo">
            <img id="logo-pants" src="src/img/logo-pants.png" alt="Hot Pants FC logo">
        </div>
        <h1 id="stand-by">Coming soon.</h1>
    </header>
</body>
</html>