<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hot Pants FC</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="dist/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header id="main-header">
        <div id="logo-container">
            <div style="position: absolute; z-index: 200; margin: 30px 40px;">
                   <span id="title-hp">
                      <h2 class="title-massive-1 no-bottom">HOT</h2>
                      <h3 class="title-big no-top">PANTS</h3>
                   </span>
                <span id="title-fc"><h1 class="title-huge style="margin:20% 15px 0;">FC</h1></span>
            </div>
            <img id="logo-goat" src="src/img/logo-goat.png" alt="Hot Pants FC logo">
            <img id="logo-pants" src="src/img/logo-pants.png" alt="Hot Pants FC logo">
        </div>
        <h1 id="stand-by">Coming soon.</h1>
    </header>
</body>
</html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="dist/main.css" rel="stylesheet">
   </head>
   <body>
      <script>
         document.addEventListener("DOMContentLoaded", function (e) {
            var http = new XMLHttpRequest(),
                roster,
                players,
                rosterParent;
            http.onreadystatechange = function () {
               if (this.readyState === 4 && this.status === 200) {
                  console.log(this.responseText);
                  var res = this.responseText;
                  roster = JSON.parse(res);
                  if (roster.players && Array.isArray(roster.players)) {
                     players = roster.players;
                  }
                  rosterParent = document.getElementById("roster");
                  players.forEach(function (player) {
                     console.log(player);
                     var elementPlayer = document.createElement("DIV"),
                             playerWrapper = document.createElement("DIV");
                    // playerWrapper.className = "col-xx-1 col-xl-1 col-lg-2 col-md-4 col-sm-6";
                     elementPlayer.className = "roster-player col-xx-2 col-xl-3 col-lg-4 col-md-6 col-sm-12";
                     elementPlayer.style.backgroundImage = "url('" + player.imgPri + "')";
                     elementPlayer.style.backgroundRepeat = "no-repeat";
                     elementPlayer.addEventListener("mouseenter", function (mee) {
                        elementPlayer.style.backgroundImage = "url('" + player.imgSec+ "')";
                     });
                     elementPlayer.addEventListener("mouseexit", function (mex) {
                        elementPlayer.style.backgroundImage = "url('" + player.imgPri + "')";
                     });
                   //  playerWrapper.appendChild(elementPlayer);
                     rosterParent.appendChild(elementPlayer);
                  });
               }
            };

            http.open("GET", "../../static/data/roster.json", true);
            http.send();
         });
      </script>
      <div id="main">
         <div class="grid">
            <div class="col-xx-12">
               <header class="title-massive-2 center" id="header-pri">
                  <h1>Hot Pants FC</h1>
               </header>
            </div>

            <section id="roster" class="grid"></section>

         </div>
      </div>
   </body>
</html>
