<html>
   <head>
      <meta name="viewport" con
            tent="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link href="../styles/main.css" rel="stylesheet">
   </head>
   <body>
      <script>
         document.addEventListener("DOMContentLoaded", function (e) {
            console.log("stuff!");
         });
      </script>
      <div id="main">
         <!--<div class="wrapper">-->
            <!--<div class="col-12">-->
               <!--<header class="title-massive-2 center" id="header-pri">-->
                  <!--<h1>Hot Pants FC</h1>-->
               <!--</header>-->
            <!--</div>-->
         <!--</div>-->
         <div class="grid">
            <div class="col-xx-1 col-xl-2 col-lg-4 col-md-6 col-sm-12" style="height: 100px; border: 1px solid white; background-color: blue;"></div>
            <div class="col-xx-1 col-xl-2 col-lg-4 col-md-6 col-sm-12" style="height: 100px; border: 1px solid white; background-color: blue;"></div>
            <div class="col-xx-1 col-xl-2 col-lg-4 col-md-6 col-sm-12" style="height: 100px; border: 1px solid white; background-color: blue;"></div>
            <div class="col-xx-1 col-xl-2 col-lg-4 col-md-6 col-sm-12" style="height: 100px; border: 1px solid white; background-color: blue;"></div>
            <div class="col-xx-1 col-xl-2 col-lg-4 col-md-6 col-sm-12" style="height: 100px; border: 1px solid white; background-color: blue;"></div>
            <div class="col-xx-1 col-xl-2 col-lg-4 col-md-6 col-sm-12" style="height: 100px; border: 1px solid white; background-color: blue;"></div>
            <div class="col-xx-1 col-xl-2 col-lg-4 col-md-6 col-sm-12" style="height: 100px; border: 1px solid white; background-color: blue;"></div>
            <div class="col-xx-1 col-xl-2 col-lg-4 col-md-6 col-sm-12" style="height: 100px; border: 1px solid white; background-color: blue;"></div>
            <div class="col-xx-1 col-xl-2 col-lg-4 col-md-6 col-sm-12" style="height: 100px; border: 1px solid white; background-color: blue;"></div>
            <div class="col-xx-1 col-xl-2 col-lg-4 col-md-6 col-sm-12" style="height: 100px; border: 1px solid white; background-color: blue;"></div>
            <div class="col-xx-1 col-xl-2 col-lg-4 col-md-6 col-sm-12" style="height: 100px; border: 1px solid white; background-color: blue;"></div>
            <div class="col-xx-1 col-xl-2 col-lg-4 col-md-6 col-sm-12" style="height: 100px; border: 1px solid white; background-color: blue;"></div>


            <div class="col-xx-12" style="height: 100px; background-color: red;"></div>




         </div>
      </div>
   </body>
</html>
