<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <style>
      body { 
         background-color: #fff;
         font-family: "Lato", sans-serif;
      }
      #main-header {
         margin-top: 10%;
         display: flex;
         flex-direction: column;
      }
      #logo {
         width: 400px;
         margin: auto;
      }
      #stand-by {
         margin-left: 330px;
         font-size: 50px;
         line-height: 35px;
      }
      </style>

   </head>
   <body>
      <header id="main-header">
         <img id="logo" src="../img/logo.png" alt="Hot Pants FC logo">
         <h1 id="stand-by">Coming soon.</h1>
      </header>
   </body>
</html>
